<li class="header">NAVEGADOR</li>
<li>
    <a href="#">
    <i class="fa fa-th"></i> <span>Sites</span>
    <span class="pull-right-container">
    <small class="label pull-right bg-green">0</small>
    </span>
    </a>

    <a href="#">
    <i class="fa fa-th"></i> <span>Menu aqui</span>
    <span class="pull-right-container">
    <small class="label pull-right bg-green">0</small>
    </span>
    </a>

    <a href="#">
    <i class="fa fa-th"></i> <span>Menu aqui</span>
    <span class="pull-right-container">
    <small class="label pull-right bg-green">0</small>
    </span>
    </a>
</li>
<li class="header">REGISTRO</li>
<li><a href="#"><i class="fa fa-sitemap"></i> <span>Menu 1</span></a></li>
<li><a href="#"><i class="fa fa-user"></i> <span>Menu 2</span></a></li>
<li><a href="#"><i class="fa fa-group"></i> <span>Menu 3</span></a></li>